<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="container body-content">
            <nav class="navbar navbar-expand-lg fixed-top d-flex justify-content-center" style="top: 0px; background-color: rgb(245 245 245); box-shadow: 0px 0px 8px 0px; color: gray ">
                <div class="container-fluid sticky-top fixed-top justify-content-center" style="height: 60px">
                    <a class="navbar-brand fs-4" href="/Home/Index" style="margin-left: 30px; transform: translateY(-2px)">Carteira Digital</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="background-color: rgb(245 245 245); border-radius: 15px; max-width: 600px">
                        <ul class="navbar-nav d-flex col-10 justify-content-around text-center" style="width: 520px">
                            <li class="nav-item dropdown fs-5 text-start liNav text-center" style="width:150px">
                                <a class="nav-link fw-normal anchorNav" href="/Home/Relatorio" role="button">Relatório</a>
                            </li>
                            <li class="nav-item dropdown fs-5 text-start liNav text-center" style="width:150px">
                                <a class="nav-link fw-normal anchorNav" href="/Home/Movimentacao">Movimentação</a>
                            </li>
                            <li class="nav-item dropdown fs-5 text-start liNav text-center" style="width:150px">
                                <a class="nav-link anchorNav" href="/Home/Conta"><span data-bind="text: Usuario"></span></a>
                            </li>
                            <li>
                                <a class="nav-link fs-5" onclick="{Sair()}" href="#" style="color: red; margin-left: 30px;">Sair</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript">
        function Sair() {
            localStorage.clear()
            window.location.href = "/Login/Index"
        }
        if (localStorage.getItem("Id") == 3) {
            window.location.href = "/Adm/Index"
        }
    </script>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
<style type="text/css">
        @@media (min-width: 768px) {
            .liNav {
                transition: 0.35s
            }
            .liNav:hover {
                -webkit-box-shadow: 0 4px 6px -6px rgb(0 247 255);
                -moz-box-shadow: 0 4px 6px -6px rgb(0 247 255);
                box-shadow: 0 4px 6px -6px rgb(0 247 255);
                transition: 0.35s;
            }

        }

       
</style>


</body>
</html>
